body { 
  display: flex; 
  min-height: 100vh; 
  flex-direction: column;
  overflow: hidden;
} 

main, session { 
  flex: 1 0 auto; 
}

.hidden {
  visibility: hidden;
  display: none;
  height: 1px;
  width: 1px;
}